body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* common css */
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
   font-size: 20px; 
   margin-bottom: 40px;
}
/* header section start */

.skib-color{
    color: orange;
}
 .container{
    display: flex;
    height: 600px; 
    margin-bottom: 150px;
} 
.first-width{
    width: 50%;
    padding: 20px 40px;
    margin-top: 40px;
    margin-left: 10px;
}
.first-width img{
    width: 91%;
}
.link_btn{
    background-image: linear-gradient(45deg,orange,tomato);
    padding: 20px 32px;
    border-radius: 30px 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/* header section end */

/* about start */
.about{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
/* about end */


/* recepies start */
.menu-team{
    text-align: center;
}
h3{
    font-size: 30px;
    font-weight: bolder;
}
#menu-list1 img{
    width: 98%;
}
#menu-list1{
    border-radius: 20px;
    box-shadow: 20px 20px 40px gray;
    border-image-slice: 1;
    border-image: linear-gradient(grey);
    padding: 30px;
    margin-left: 3%;
    margin-right: 3%;
    height: 500px;
}
/* recepies end */
