body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* common css */
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
   font-size: 20px; 
   margin-bottom: 40px;
}
.container{
    display: flex;
    margin-bottom: 150px;
} 
/* header section start */

.color{
    color: orange;
}
.first-width{
    width: 50%;
    padding: 20px 40px;
    margin-top: 40px;
    margin-left: 10px;
}
.first-width img{
    width: 96.5%;
}
.link_btn{
    background-image: linear-gradient(45deg,orange,tomato);
    padding: 20px 32px;
    border-radius: 30px 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.header{
    background-image: url(images/header.png);
    background-repeat: no-repeat;
}
/* header section end */

/* about start */
.about{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
/* about end */


/* recepies start */
.menu-team{
    text-align: center;
}
h3{
    font-size: 30px;
    font-weight: bolder;
}
#menu-list1 img{
    width: 98%;
}
#menu-list1{
    height: 550px;
    padding: 30px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 30px;
    box-shadow: 20px 20px 40px gray;
    border-image-slice: 1;
    border-image: linear-gradient(grey);
}
/* recepies end */
/* extra section start */
.extra-menu{
    width: 80%;
    height: 200px;  
    box-shadow: 20px 20px 40px gray;
    border-image-slice: 1;
    border-image: linear-gradient(grey);
    border-radius: 30px;
    padding-left: 150px;
    margin-left: 5%;
    margin-right: 5%;
}
#extra-item{
    padding-right: 17%;
}
.extra-menu p{
   margin-top: -40px;
}
/* extra section end */

/* footer start */
footer{
    background-color: black;
    height: 300px;
    margin-top: -100px;
}
footer h1{
    color: grey;
    text-align: center;
}
#size{
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 100;
}


